gradio==3.50.2
gspread==6.0.2  
google-auth>=2.25.0  
google-auth-oauthlib>=1.2.0  
google-api-python-client==2.123.0
PyPDF2==3.0.1
python-dateutil==2.9.0
scikit-learn==1.4.1.post1  
pandas==2.2.1
numpy==1.26.4  
